@model EscoTestGaston.Models.Auto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Propietario.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propietario.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicio.TipoServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio.TipoServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
