@model EscoTestGaston.Models.Auto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Propietario.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propietario.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicio.TipoServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio.TipoServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
